@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.notification {
  background-color: #49cc93;
  padding: 8px 4px;
  color: #22252a;
  border-radius: 5px;
  text-align: center;
}

.Button {
  background-color: #0265dc;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.Button:hover {
  background-color: #14438e;
}

h1,
h2,
h3 p {
  font-family: "Nunito", sans-serif;
}

.error-message {
  padding: 8px 4px;
  color: #22252a;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #e24f4f;
}
